{
  "semi": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": [
    "^react",
    "^.(css|scss)$",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
