.app {
    padding: rem(20px); /* Convert px to rem */
    
    /* Convert px to em (for media queries) */
    @media (max-width: em(500px)) {
    }
    
    /* light and dark mixins to apply styles based on Mantine color scheme */
    @mixin light {
        background-color: var(--mantine-color-white);
    }
    
    @mixin dark {
        background-color: var(--mantine-color-black);
    }
    
    /* light-dark function as an inline shortcut for light and dark mixins */
    background: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-black)
    );
    
    /* rtl mixin to apply styles for right-to-left direction */
    padding-left: 1rem;
    @mixin rtl {
        padding-left: 0;
        padding-right: 1rem;
    }
}